<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

  <p>Candlestick View</p>

  <div id="myDiv1" style="width: 100%; height: 600px;"><!-- Plotly chart will be drawn inside this DIV --></div>

  <!-- <div id="tester" style="width:800px;height:400px;"></div> -->

  <script>

  $(document).ready(function() {

    $.get('/api/ticker/Apple?token=' + window.localStorage.getItem('token'), function( data ) {
      console.log(data);
      plotcandlestick(data);
    });

  });

  function plotcandlestick(data) {
    var data_open = [], data_close = [], data_high = [], data_low = [], data_dates = [];

    for (var i=0; i<data.length; i++) {
       var data_obj = data[i];
       data_close.push(parseFloat(data_obj["close"]));
       data_high.push(parseFloat(data_obj["high"]));
       data_low.push(parseFloat(data_obj["low"]));
       data_open.push(parseFloat(data_obj["open"]));
       data_dates.push([data_obj["date"].split("-")].map(function(d) {
         return new Date(d[0], d[1]-1, d[2].substring(0,1));
       }))
    }
    plotcandlestickly( data_open, data_close, data_high, data_low, data_dates);
    console.log(data_dates.length);

};

function plotcandlestickly( data_open, data_close, data_high, data_low, data_dates){
  var dateArray = []

  data_dates.forEach(function(e){
    dateArray.push(e[0])
  })

  console.log(dateArray[1]);

  var fig = PlotlyFinance.createCandlestick({
    open: data_open,
    high: data_high,
    low: data_low,
    close: data_close,
    dates: dateArray
  });

  Plotly.newPlot('myDiv1', fig.data, fig.layout);
};

  </script>
</body>
</html>
