<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>

<body>
    <center>
        <h1>Histogram Chart</h1>
        <a href="/home" class="btn btn-danger btn-md" role="button" class="glyphicon glyphicon-home" aria-hidden="true"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>    HOME</a>
    </center>

    <center>
        <select id="tickerSelector">
          <option value="Apple">Apple</option>
          <option value="British Petroleum">British Petroleum</option>
          <option value="Chevron">Chevron</option>
          <option value="Chipotle Mexican Grill">Chipotle Mexican Grill</option>
          <option value="Alphabet">Google</option>
          <option value="Mcdonalds">Mcdonalds</option>
          <option value="Starbucks">Starbucks</option>
          <option value="Yahoo">Yahoo</option>
          <option value="Allergan">Allergan</option>
        </select>
    </center>

  <div id="myDiv" style="width: 100%; height: 600px;"></div>


  <script>
  $(document).ready(function() {

    $('#tickerSelector').on('change', function(){

      var selection = this.value;
      // alert(selection);

      $.get('/api/ticker/'+ selection + '?token=' + window.localStorage.getItem('token'), function (data2) {
                    console.log(data2);
                    makeplot(data2);

      });

    });


    $.get('/api/ticker/<%= stockName %>?token=' + window.localStorage.getItem('token'), function (data1) {
        console.log(data1);
        makeplot(data1);
      });

    });

    function makeplot(data) {
      var x = [];

      for (var i = 0; i < data.length; i ++) {
        x[i] = data[i]["volume"];
      };

      var dataFeed = [
        {
          x: x,
          type: 'histogram'
        }
      ];

      var layout = {
        title: "Histogram of Trading Volume for " + data[0]["name"] + " between " + data[0]["date"].substring(0,10) + " and " + data[data.length-1]["date"].substring(0,10),
        xaxis: {
          title: "Days grouped by trading volume"
        },
        yaxis: {
          title: "Number of days in trading range"
        },
        bargap: 0.1
      };

      Plotly.newPlot('myDiv', dataFeed, layout);
  };

</script>
</body>
</html>
